extends _template

block content
    section.header
        section.header-logo
            .container
                .row.row-header
                    .col
                        .header-img
                            img.img-responsive(src='./img/logo.png')
                    .col
                        .header-text
                            p Магазин нижнего мужского белья
                            p Доставка по всей России и СНГ
                    .col
                        .header-tel
                            p.telephone 8-800-350-26-06
                            p.phone-descr звонок бесплатный
                    .col-1.col-menu
                        .col-center
                            .menuwrapper
                                input#togglebox(type='checkbox')
                                label#navtoggler(for='togglebox')
                                nav#expand-fullpagemenu
                                    label#closex(for='togglebox') 
                                    ul
                                        li
                                            a(href='#header' onclick="expandfullscreenmenu('close')") Главная                                        
                                        li
                                            a(href='#katalog' onclick="expandfullscreenmenu('close')") Каталог
                                        li
                                            a(href='#chars' onclick="expandfullscreenmenu('close')") Характеристики                                        
                                        li
                                            a(href='#reviews' onclick="expandfullscreenmenu('close')") Отзывы
                                        li
                                            a(href='#delivery' onclick="expandfullscreenmenu('close')") Доставка и оплата
                                            
                                br
                                span.span
                                    a(href='#', onclick="expandfullscreenmenu('open')") Открыть меню
                                    br
                                    a(href='#', onclick='expandfullscreenmenu()') Открыть меню
                                    br
                                    a(href='#', onclick="expandfullscreenmenu('close')") Открыть меню
            #hid
                input#togglebox(type='checkbox')
                label#navtoggler(for='togglebox', style='top:4px;left:10px;margin-top:0px;')                                       
        section.header-center
            a(name='header')
            .container
                .row
                    .col-lg-6.col-md-6.col-sm-6
                        img.img-fluid.img-title(src='./img/man-1.png')
                    .col-lg-6.col-md-6.col-sm-6
                        .center-right
                            .center-image
                                h1.center-h1 НЕДЕЛЬНЫЙ ЗАПАС МУЖЧИНЫ
                                h2.center-h2
                                    | ТРУСЫ-БОКСЕРЫ  
                                    span.center-span Calvin Klein
                        .center-content
                            .row
                                .col-lg-4.col-md-4.col-sm-4
                                    .content-item
                                        .item-pic
                                            img.img-responsive(src='./img/ok.png')
                                        .item-text
                                            p 100% гарантия качества                                   
                                .col-lg-4.col-md-4.col-sm-4
                                    .content-item.content-item_right
                                        .item-pic
                                            img.img-responsive(src='./img/money.png')
                                        .item-text
                                            p оплата при получении
                                .col-lg-4.col-md-4.col-sm-4
                                    .item-pic
                                        img.img-responsive(src='./img/delivery.png')
                                    .item-text
                                        p быстрая доставка
                        .center-description
                            p
                                | Набор трусов от 5 шт за 
                                span.up 2490 р.
                            p.two
                                span НОВАЯ 
                                | цена : 
                                span 1490 
                                | р.
                            input.btn(type='submit', value='')
                            p
                                | Наборов осталось : 
                                span.down 12 
                                | шт.
    section.hidden
        .container
            .row
                .col-lg-6
                    .center
                        .row
                            .col.col-xs-4
                                .content-item
                                    .item-pic
                                        img.img-responsive(src='./img/ok.png')
                                    .item-text
                                        p 100% гарантия качества                                   
                            .col.col-xs-4
                                .content-item
                                    .item-pic
                                        img.img-responsive(src='./img/money.png')
                                    .item-text
                                        p оплата при получении
                            .col.col-xs-4
                                .item-pic
                                    img.img-responsive(src='./img/delivery.png')
                                .item-text
                                    p быстрая доставка
                    .description
                        p
                            | Набор трусов от 5 шт за 
                            span.up 2490 р.
                        p.two
                            span НОВАЯ 
                            | цена : 
                            span 1490 
                            | р. 
                            input.btn(type='submit', value='')
                        p
                            | Наборов осталось : 
                            span.down 12 
                            | шт.
                        p
    section.second
        a(name='katalog')
        .container
            h2 Собери свой набор и получи его в фирменной коробке СК 
            .row
                .col
                    img.img-responsive.img-left(src='./img/calvin-2.png')
                .col
                    img.img-responsive.img-right(src='./img/calvin-1.png')
            .row
                .col-lg-4.col-md-4.col-sm-12
                    .second-center
                        h3
                            | НАБОР 
                            span №1
                        img.img-responsive(src='./img/ck-1.png')
                        p
                            | Набор трусов 
                            span 5 шт 
                            | за 
                            span 2490 р.
                        p.second-text
                            span НОВАЯ 
                            | цена : 
                            span 1490 
                            | р.
                        p 299 р/шт.  
                        input.btn.btn_bottom(type='submit', value='')
                .col-lg-4.col-md-4.col-sm-12
                    .second-center
                        h3
                            | НАБОР 
                            span №2
                        img.img-responsive(src='./img/ck-2.png')
                        p
                            | Набор трусов 
                            span 7 шт 
                            | за 
                            span 2790 р.
                        p.second-text
                            span НОВАЯ 
                            | цена : 
                            span 1990 
                            | р.
                        p 284 р/шт.  
                        input.btn.btn_bottom(type='submit', value='')
                .col-lg-4.col-md-4.col-sm-12
                    .second-center
                        h3
                            | НАБОР 
                            span №3
                        img.img-responsive(src='./img/ck-3.png')
                        p
                            | Набор трусов 
                            span 9 шт 
                            | за 
                            span 3490 
                            | р.
                        p.second-text
                            span НОВАЯ 
                            | цена : 
                            span 2490 
                            | р.
                        p 249 р/шт.  
                        input.btn.btn_bottom(type='submit', value='')
    section.third
        a(name='chars')
        .container
            h2 Характеристика трусов
            .row
                .col
                    ul.brand
                        li Бренд: Calvin Klein (США)  
                        li Страна производитель: Турция
                        li Вид: трусы боксерские мужские
                        li Состав: хлопок - 95%, эластан - 7%
                        li Сезон: мульти
                        li Узор: однотонный
                        li Размеры в наличии:
                        li L(46-48), XL(48-50), XXL(50-52)
                    ul.brand-descr
                        li Комплект трусов от Calvin Klein состоит из трех наборов.
                        li Модель выполнена из хлопкового трикотажа.
                        li Делати: эластичный пояс с жаккардовой надписью-логотипом.
    section.fourth
        a(name='reviews')
        .container
            h2 Отзывы наших клиентов
            .row
                .col-lg-4.col-md-4.col-sm-12
                    .opinion
                        .opinion-img.opinion-left
                            img.img-responsive(src='./img/nadezhda.png')
                            p
                                | Надежда,
                                br
                                | г. Красноярск
                        .opinion-text
                            p
                                | Заказывала мужские трусы. Доставка заняла около 4 дней, продавец отправил заказ достаточно оперативно. Купила размер L и не прогадала, сидят отлично. Ткань на ощупь приятная, мужу очень понравилось.
                .col-lg-4.col-md-4.col-sm-12.flex-lg-first
                    .opinion
                        .opinion-img.opinion-left
                            img.img-responsive(src='./img/dmitry.png')
                            p
                                | Дмитрий,
                                br
                                | г. Москва
                        .opinion-text
                            p
                                | Здравствуйте! Сегодня получил заказ, остался очень доволен все подошло по размеру. Спасибо!!! На днях сделаю второй заказ! СПАСИБО!!!!!
                .col-lg-4.col-md-4.col-sm-12
                    .opinion
                        .opinion-img.opinion-left
                            img.img-responsive(src='./img/galina.png')
                            p
                                | Галина,
                                br
                                | г. Москва
                        .opinion-text
                            p
                                | Заказывала трусы мужу. Сегодня получила посылку и не разочаровалась. Посылка дошла быстро, всего за 1 день. Качество трусов отличное, очень порадовали. Спасибо Вам большое:)))
    section.fifth
        a(name='delivery')
        .container
            h2 Доставка и оплата
            .row
                .col.delivery
                    .delivery-img
                        img.img-responsive.img-none-768(src='./img/pochta.png')
                        img.img-responsive.img-block-768(src='./img/pochta-4.png')
                    .delivery-text
                        p
                            | Если нет возможности отправить Вам заказ курьером, мы отправим его ПОЧТОЙ РФ первым классом.
                        p
                            | Срок доставки от 
                            b 7 
                            | до 
                            b 14 
                            | дней, в зависимости от региона, стоимость по РФ 
                            b 350 
                            | руб.
                        p
                            | Мы являемся крупным федеральным клиентом почты России и поэтому у вас не будет комиссии на почте.
            .row
                .col.delivery
                    .delivery-img
                        img.img-responsive.img-none-768(src='./img/send.png')
                        img.img-responsive.img-block-768(src='./img/send-4.png')
                    .delivery-text
                        p
                            | Доставка осуществляется до вашей двери в любом городе России курьерской компанией Usend.
                        p 
                            | Срок доставки от 
                            b 2 
                            | до 
                            b 7 
                            | дней, в зависимости от региона.
                        p 
                            | Cтоимость по РФ 
                            b 350 
                            | руб.      
    section.sixth
        a(name='gallery')
        .container
            h2.six Успейте заказать недельный мужской набор Ck
            .row
                .col-lg-6.col-md-6.col-sm-12.col-xs-12
                    .slider
                        img(src='./img/1.png')
                        img(src='./img/2.png')
                        img(src='./img/3.png')
                        img(src='./img/4.png')
                        img(src='./img/5.png')
                .col-lg-4.col-md-6.col-sm-12.col-xs-12
                    form.form(action='https://borisovden.e-autopay.com/checkout/save_order_data.php', method='post', target='_blank', onsubmit="var re = /^((8|+7|7)[- ]?)?((?d{3})?[- ]?)[d- ]{7,10}$/i; if(!re.test(this.phone.value.trim())) {alert('Пожалуйста проверьте правильность заполнения поля Телефон!'); return false;}else{ga('send', 'event', 'send', 'click', 'send', '1');")
                        input.name.hidden-xs.hidden-sm(type='text', name='name', placeholder='ИМЯ')
                        input#phone4.phone(type='tel', name='phone', placeholder='НОМЕР ТЕЛЕФОНА', required='')
                        input.email(type='email', name='email', placeholder='E-MAIL', pattern='([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})')
                        input.address.hidden-xs.hidden-sm(type='text', name='address', placeholder='АДРЕС ДОСТАВКИ')
                        select.ea_select.ea_pay_mode(name='pay_mode', style='display:none;')
                            option(value='3') Наложенный платеж
                        input(type='hidden', name='ordername', value='Первый экран')
                        input#tovar_id(type='hidden', name='tovar_id', value='324457')
                        input(type='hidden', name='additional_field1', value='')
                        input(type='hidden', name='form_id', value='13986')
                    .btn-form
                        input.btn(type='submit', value='')
                    div(style='width: 100%; margin: 0 auto; text-align: center; margin-top: 3px; color:#000;background:#fff; font-weight: bold; font-size: 12px;')
                        | Нажимая на кнопку, вы соглашаетесь с условиями 
                        br.hidden-lg.hidden-md
                        a(href='politics.html', target='_blank') Политики конфиденциальности
                        p.complects
                            | Осталось
                            span 12 
                            | комплектов
    footer.contacts
        .container
            .row
                .col-lg-2.col-md-2.col-sm-12
                    .footer-last
                        img.img-responsive(src='./img/logo-footer.png')
                .col-lg-6.col-md-6.col-sm-12
                    .confidential
                        p
                            | © САЙТ ЗАЩИЩЕН АВТОРСКИМИ ПРАВАМИ. ЛЮБОЕ КОПИРОВАНИЕ МАТЕРИАЛОВ САЙТА БЕЗ СОГЛАСОВАНИЯ И СПРАВООБЛАДАТЕЛЕМ ВЛЕЧЕТ К УГОЛОВНОЙ ОТВЕТСТВЕННОСТИ (СТ. 146 УК РФ). ЛЮБОЕ КОПИРОВАНИЕ ИНФОРМАЦИИ ЗАПРЕЩЕНО.
                        p ОГРН 315213200000552 г. Москва, ул. Краснодарская дом 51 стр. 5
                .col-lg-4.col-md-4.col-sm-12
                    .footer-last
                        p.footer-tel 8-800-350-26-06
                        p.footer-email HELPMAGAZINA@GMAIL.COM 
